@model FitLanches.Dominio.Models.Cardapio

@using FitLanches.Util.Formatadores

@{
    ViewBag.Title = "Index";
}

<h2>Cardápio</h2>

<hr />

@using (Html.BeginForm("GerarPedido", "Pedido", FormMethod.Post, new { @id = "FormPedido" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="panel panel-default">
        <div class="form-group">
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>
                            <label class="control-label">Descrição:</label>
                        </th>
                        <th>
                            <label class="control-label">Tempo de Preparo:</label>
                        </th>
                        <th>
                            <label class="control-label">Valor:</label>
                        </th>
                        <th>
                            <label class="control-label">Quantidade:</label>
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Itens.Count; i++)
                    {
                    <tr>
                        @Html.HiddenFor(x => Model.Itens[i].Id)
                        @Html.HiddenFor(x => Model.Itens[i].Categoria)
                        @Html.HiddenFor(x => Model.Itens[i].Descricao)
                        @Html.HiddenFor(x => Model.Itens[i].Status)
                        @Html.HiddenFor(x => Model.Itens[i].TempoPreparo)
                        @Html.HiddenFor(x => Model.Itens[i].Valor)
                        <td>
                            <span>@Model.Itens[i].Descricao</span>
                        </td>
                        <td>
                            <span>@Model.Itens[i].TempoPreparo.ConverterTempo()</span>
                        </td>
                        <td>
                            <span>@Model.Itens[i].Valor.ConverterMoeda()</span>
                        </td>
                        <td>
                            <span>@Html.TextBoxFor(x => Model.Itens[i].Quantidade, new { @class = "form-control btnQuantidade", @type = "number", @min = "0", @data_id= Model.Itens[i].Id })</span>
                        </td>
                        <td class="text-center">
                            <span>@Html.CheckBoxFor(x => Model.Itens[i].Selecionado, new { @disabled=true, @data_id = Model.Itens[i].Id })</span>
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">
                            <button id="btnGerarPedido" disabled type="submit" class="btn btn-success" style="float:right">Gerar Pedido</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="checkbox"]').on('input', function () {
                if ($('input[type="checkbox"]:checked').length > 0) {
                    $('#btnGerarPedido').attr('disabled', false);
                } else {
                    $('#btnGerarPedido').prop('disabled', true);
                }
            });

            $(".btnQuantidade").on('input', function () {
                var _this = $(this);
                var val = _this.val();
                var dataId = _this.attr('data-id');

                if (val > 0) {
                    $('input[type="checkbox"][data-id="' + dataId + '"]').removeAttr('disabled').prop('checked', true);
                } else {
                    $('input[type="checkbox"][data-id="' + dataId + '"]').attr('disabled', true).prop('checked', false);
                }   

                $('input[type="checkbox"][data-id="' + dataId + '"]').trigger('input');
            }); 
        });
    </script>
}